.main-container {
  background-color: #f4f5f8;
  height: 90vh;
  width: 90vw;
  display: flex;
  border-radius: 24px;
}

.sidebar-conatiner {
  flex: 0.3;
  border-radius: 24px;
}

.workarea-container {
  flex: 0.7;
  border-radius: 24px;
  background-color: aliceblue;
}
