.main-container {
  background-color: #90b390;
  height: 90vh;
  width: 90vw;
  display: flex;
  border-radius: 24px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.sidebar-container {
  flex: 0.3;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.sb-header {
  background-color: white;
  display: flex;
  border-radius: 15px;
  padding: 10px 5px;
  margin: 15px;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.dark {
  background-color: #2d3941 !important;
}

.sb-search {
  background-color: white;
  border-radius: 15px;
  padding: 5px 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.search-box {
  outline-width: 0;
  border: none;
  font-size: 1.25rem;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.54);
}

.sb-conversation {
  background-color: white;
  border-radius: 15px;
  padding: 10px 5px;
  margin: 10px;
  flex: 1;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.conversation-container {
  display: grid;
  grid-template-columns: 32px auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  padding: 11px;
  margin: 5px;
  border-radius: 20px;
  border-bottom: 1px solid #b8b8b8;
  margin-bottom: 0.6rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.sb-conversation :hover {
  background-color: #90b390;
}

.con-icon {
  grid-area: 1/1/3/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  height: 32px;
  width: 32px;
  padding: 2px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}
.con-title {
  grid-template-columns: 1/2/2/4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
  justify-content: flex-start;
  display: flex;
  padding-left: 10px;
}
.con-timeStamp {
  justify-self: flex-end;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
}

.con-lastMessage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.75rem;
  justify-content: flex-start;
  display: flex;
  gap: 3%;
  color: #878585;
}

.chatArea-container {
  flex: 0.7;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chatarea-header {
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 10px 10px;
  margin-top: 15px;
  margin-right: 10px;
  border-radius: 15px;
  flex-direction: row;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.header-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
}

.messages-container {
  flex: 1;
  background-color: white;
  padding: 10px 10px;
  margin: 10px;
  margin-top: 15px;
  margin-left: 3px;
  margin-bottom: 9px;
  border-radius: 15px;
  overflow-y: scroll;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);

  /* scrollbar-width: none; */
}
/* .messages-container::-webkit-scrollbar {
  display: none;
} */

.messages-container::-webkit-scrollbar {
  width: 8px;
}

.messages-container::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 4px;
}
.messages-container::-webkit-scrollbar-thumb:hover {
  background: #878585;
}

.call-icon {
  background-color: #d9d9d9;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.v {
  border-left: 2px solid #bdbdbd;
  height: 98;
  top: 0;
}
.text-input-area {
  background-color: white;
  padding: 10px 10px;
  margin: 10px;
  margin-left: 3px;
  margin-top: 0px;
  border-radius: 15px;
  display: flex;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.box-input {
  width: 80%;
  margin-right: 15px;
}
.other-msg-container {
  background-color: #fff;
}

.other-text-content {
  background-color: #d9d9d9;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 15px;
  display: flex;
  margin-top: 10px;
  width: max-content;
  flex-direction: column;
}

.self-msg-container {
  display: flex;
  justify-content: flex-end;
}

.messageBox {
  display: flex;
  flex-direction: column;
  background-color: #90b390;
  width: max-content;
  padding: 10px 10px;
  margin: 5px;
  border-radius: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.self-timeStamp {
  align-items: flex-end;
  font-size: 0.65rem;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.conversation-container1 {
  display: grid;
  grid-template-columns: 32px auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  padding: 11px;
  margin: 5px;
  border-radius: 20px;
  margin-bottom: 0.6rem;
}
.lastMessage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.95rem;
  justify-content: flex-start;
  display: flex;
  gap: 3%;
}

.chat-bubble {
  display: inline-block;
  max-width: 80%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 20px;
  font-size: 16px;
  word-wrap: break-word;
}
.welcome-logo {
  height: 17vw;
}

.welcome-container {
  flex: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #657d65;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
  background-color: white;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.createGroups-container {
  flex: 0.7;
  align-self: center;
  padding: 20px 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}
.login-container {
  height: 90vh;
  width: 90vw;
  background-color: white;
  border-radius: 15px;
  display: flex;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.image-container {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-box {
  flex: 0.7;
  background-color: #90b390;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  gap: 14px;
}
.texth {
  margin: 15px;
  font-size: large;
}

.hyper {
  cursor: pointer;
  color: #d9d9d9;
  font-size: 11px;
}

.list-container {
  flex: 0.7;
  background-color: #fff;
  border-radius: 15px;
  margin: 10px;
  margin-top: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.ug-header {
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 25px;
}
.ug-title {
  color: rgba(0, 0, 0, 0.54);
  margin-left: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.ug-list {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  height: 480px;
  cursor: pointer;
}

.ug-list::-webkit-scrollbar {
  width: 8px;
}

.ug-list::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 4px;
}

.ug-list::-webkit-scrollbar-thumb:hover {
  background: #878585;
}

.list-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 10px 5px;
  margin: 10px;
  transition-duration: 0.5s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
}

.list-item:hover {
  background-color: rgb(189, 187, 187);
}

@media only screen and (max-width: 40em) {
  .sb-search {
    display: none;
  }

  .sb-conversation {
    display: none;
  }

  .sb-header {
    flex-direction: column;
    flex: 1;
    width: min-content;
  }
  .chatArea-container {
    width: 95vw;
    flex: 1;
  }
  .chatarea-header {
    gap: 4px;
  }
  .sidebar-container {
    flex: 0 !important;
  }
  .main-container {
    width: 100vw;
    height: 100vh;
    margin: 10px;
  }
  .search-box {
    width: 40%;
  }

  .ug-list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }

  .ug-list::-webkit-scrollbar {
    display: none;
  }

  .list-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 5px;
    margin: 10px;
    transition-duration: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }

  .list-item:hover {
    background-color: rgb(226, 226, 226);
  }
}

@media only screen and (max-width: 414px) {
  .sb-search {
    display: none;
  }

  .sb-conversation {
    display: none;
  }

  .sb-header {
    flex-direction: column;
    flex: 1;
    width: min-content;
  }
  .chatArea-container {
    width: 100vw;
    flex: 1;
  }
  .chatarea-header {
    gap: 4px;
  }
  .sidebar-container {
    flex: 0 !important;
  }
  .main-container {
    width: 100vw;
    height: 100vh;
    margin: 10px;
  }
  .search-box {
    width: 40%;
  }

  .ug-list {
    flex: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    padding: 10px;
  }

  .ug-list::-webkit-scrollbar {
    display: none;
  }

  .list-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 5px;
    margin: 10px;
    transition-duration: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }

  .list-item:hover {
    background-color: rgb(226, 226, 226);
  }
}

@media only screen and (max-width: 768px) {
  .sb-search {
    display: none;
  }

  .sb-conversation {
    display: none;
  }
  .createGroups-container {
    margin: auto;
  }

  .sb-header {
    flex-direction: column;
    flex: 1;
    width: min-content;
  }
  .chatArea-container {
    width: 100vw;
    flex: 1;
  }
  .chatarea-header {
    gap: 4px;
  }
  .sidebar-container {
    flex: 0 !important;
  }
  .main-container {
    width: 100vw;
    height: 100vh;
    margin: 10px;
  }
  .search-box {
    width: 40%;
  }
  .box-input {
    width: 80%;
    margin-right: 15px;
  }
  .list-container {
    flex: 1;
  }
  .ug-list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  .ug-list::-webkit-scrollbar {
    display: none;
  }

  .list-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 5px;
    margin: 10px;
    transition-duration: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }

  .list-item:hover {
    background-color: rgb(226, 226, 226);
  }
}

@media only screen and (max-width: 1024px) {
  .list-container {
    flex: 1;
  }

  .ug-list::-webkit-scrollbar {
    display: none;
  }

  .ug-list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }

  .list-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 5px;
    margin: 10px;
    transition-duration: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }

  .list-item:hover {
    background-color: rgb(226, 226, 226);
  }
}
@media only screen and (max-width: 1430px) {
  .list-container {
    flex: 1;
  }
  .ug-list {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }

  .ug-list::-webkit-scrollbar {
    display: none;
  }

  .list-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 5px;
    margin: 10px;
    transition-duration: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  }

  .list-item:hover {
    background-color: rgb(226, 226, 226);
  }
}
